.project
*logs*
*.pyc
*.model
bin
*.binary
*.out
*.idea
tags
.cproject
.settings
Debug
Release
dataset*
*~
core
*.DS_Store
*.o
*.swp
!builder
!*build*.cu
!*build*.h

# documentation artifacts
_build/
_images/
__pycache__/
_static/
_templates/
_toc.yml
docBin/
_doxygen/
_readthedocs/
__pycache__/
